*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-expand-lg .navbar-brand{
    font-family: 'Afacad', sans-serif;
    font-size: 2rem;
}
.navbar-expand-lg strong{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.custom-shape-divider-top-1703518470 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}