*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.navbar{
    background-color: #fff;
}

.navbar-expand-lg .navbar-brand{
    font-family: 'Afacad', sans-serif;
    font-size: 2rem;
}

.navbar-expand-lg strong{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.custom-shape {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
}

.custom-shape svg{
    fill: #FFF
}

main{
    background-color: #fff;
}

main .row{
    padding-bottom: 15rem;
}
main .custom-shape{
    transform: rotate(180deg);
    height: 0;
    position: absolute;
    width: 100%;
}

.carousel-item img{
    height: 20rem;
}

.card img{ 
    height: 256px;
}

.card-body strong{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.menu h4{
    font-family: 'Dancing Script', cursive;
}

footer .custom-shape{
    transform: rotate(180deg);
    height: 0;
    position: absolute;
    width: 100%;
}

footer{
    background-color: #1F1B1A;
    color: #fff;
}

footer .navbar-brand{
    font-family: 'Afacad', sans-serif;
    font-size: 2rem;
}

footer .navbar-brand strong{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

footer .custom-shape svg{
    fill: #1F1B1A;
}

footer p{
    margin-top: 0;
    margin-bottom: 0;
}
