*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.navbar{
    background-color: #fff;
}

.navbar-expand-lg .navbar-brand{
    font-family: 'Afacad', sans-serif;
    font-size: 2rem;
}

.navbar-expand-lg strong{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.custom-shape {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape svg{
    fill: #FFF
}

.carousel-item img{
    height: 250px;
}
main .custom-shape{
    transform: rotate(180deg);
    height: 0;
    position: fixed;
    width: 100%;
}