*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-expand-lg .navbar-brand{
    font-family: 'Afacad', sans-serif;
    font-size: 2rem;
}
.navbar-expand-lg strong{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.wave-navbar{
position: absolute;
width: 100%;
height: 36px;
background-image: url(https://assets.website-files.com/5f8777f…/5f87b87…_wave_menu.svg);
background-position: 50% 50%;
background-size: auto;
background-repeat: repeat-x;
background-attachment: scroll;
}
